{% extends "base.html" %}

{% block title %}User Signup{% endblock %}

{%block content%}
<div id ="form-box">
    <form action="{{ url_for('signup') }}"  method = "post">
        <label for="username">Username</label>
            <input type="text" name="username" id="username" value='{{username}}'/>
            <p class = "error">{{username_error}}</p>

        <label for="password">Password</label>
            <input type="password" name="password" id="password" />
            <p class = "error">{{password_error}}</p>

        <label for="password2">Verify Password</label>
            <input type="password" name="verify_password" id="password2" />
            <p class = "error">{{verify_password_error}}</p>

        <label for="email">Email (optional)</label>
            <input type="text" name="email" id="email" value='{{email}}'/>
            <p class = "error">{{email_error}}</p>

        <input type="submit" name= "Register" value="Validate">
    </form>
</div>
{%endblock%}


